<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
        <mirrors>
         <mirror>
         <id>internal-repository</id>
         <name>Maven Repository Manager for classroom</name>
         <url>http://${RHT_OCP4_NEXUS_SERVER}.apps.ocp-na1.prod.nextcle.com</url>
         <url>http://nexus-common.apps.cluster.domain.example.com/repository/java</url>
         <mirrorOf>*</mirrorOf>
         </mirror>
       </mirrors>
</settings>
